# Models shown in Dashboard > Run Models > Experiment Runs.
# Use either plain names or YAML objects with weights.
- name: alexnet
  weights: DEFAULT
- name: densenet161
  weights: DEFAULT
- name: efficientnet_v2_l
  weights: DEFAULT
- name: googlenet
  weights: DEFAULT
- name: inception_v3
  weights: DEFAULT
- name: mnasnet1_3
  weights: DEFAULT
- name: mobilenet_v3_large
  weights: DEFAULT
- name: resnet18
  weights: DEFAULT
- name: resnet152
  weights: DEFAULT
- name: resnext101_64x4d
  weights: DEFAULT
- name: shufflenet_v2_x2_0
  weights: DEFAULT
- name: squeezenet1_1
  weights: DEFAULT
- name: vgg19_bn
  weights: DEFAULT
- name: vit_b_16
  weights: DEFAULT
- name: wide_resnet101_2
  weights: DEFAULT
- name: mobilevit_s
  weights: DEFAULT