__pycache__/
*.pyc
.DS_Store
.idea/
outputs/
.env
tests/
.cache/
runspace/inputs/scannet/
# Apptainer
Apptainer.def
qbench_sandbox/
*.sif
*.img

*/results/*

cloudflared
tailscale
tailscale.tgz
tailscale_state/
tailscaled
systemd/